<div style="font-family: 'Lucida Sans',
  'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px; color: #333; line-height: 1.6em">
  {{> header}}
  {{{body}}}
  {{> footer}}
</div>
