<div>
  <p>Olá {{ nameOrganizer }}</p>

  <p>O seu MeetUp {{ title }} recebeu uma nova inscrição:</p>

  <p><strong>Nome:</strong> {{nameSubscription}}
    <br /> <strong>email:</strong> {{emailSubscription}}</p>
</div>
