<p style="display: block; text-transform: uppercase; margin-bottom: 20px; padding-bottom: 10px;
  font-size: 18px; font-weight: bold; text-align: left; color: #314053;
  border-bottom:1px solid #314053"><img style="float: left;" src="#" width="32" alt="icon qualis" />
  <span style="padding: 7px;">MeetUp</span></p>
